:root{
    --diceSize: 5vh;
}

.dice-area {
    height: var(--diceSize);
    width: var(--diceSize);
    perspective: calc(var(--diceSize)*2);
}

.dice {
    height: var(--diceSize);
    width: var(--diceSize);
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(calc(var(--diceSize)/2));
    transition: transform .1s;
}

.face {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 5%;
    position: absolute;
    background-color: rgb(253, 241, 223);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/*-- Transformations pour obtenir un dé en 3D --*/

.face-1 { transform: rotateY(  0deg) translateZ(calc(var(--diceSize)/2)); }
.face-2 { transform: rotateY( 90deg) translateZ(calc(var(--diceSize)/2)); }
.face-3 { transform: rotateY(180deg) translateZ(calc(var(--diceSize)/2)); }
.face-4 { transform: rotateY(-90deg) translateZ(calc(var(--diceSize)/2)); }
.face-5 { transform: rotateX( 90deg) translateZ(calc(var(--diceSize)/2)); }
.face-6 { transform: rotateX(-90deg) translateZ(calc(var(--diceSize)/2)); }

.dice.face-1  { transform: translateZ(0px) rotateY(   0deg); }
.dice.face-2  { transform: translateZ(0px) rotateY( -90deg); }
.dice.face-3  { transform: translateZ(0px) rotateY(-180deg); }
.dice.face-4  { transform: translateZ(0px) rotateY(  90deg); }
.dice.face-5  { transform: translateZ(0px) rotateX( -90deg); }
.dice.face-6  { transform: translateZ(0px) rotateX(  90deg); }

/*-- Points pour dessiner les faces du dé --*/

.dot {
    height: calc((var(--diceSize)*0.15));
    width: calc((var(--diceSize)*0.15));
    border-radius: calc((var(--diceSize)*0.15));
    background-color: black;
    margin: auto;
}

.d1 {
    grid-column: 1;
    grid-row: 1;
}

.d2 {
    grid-column: 3;
    grid-row: 1;
}

.d3 {
    grid-column: 1;
    grid-row: 2;
}

.d4 {
    grid-column: 2;
    grid-row: 2;
}

.d5 {
    grid-column: 3;
    grid-row: 2;
}

.d6 {
    grid-column: 1;
    grid-row: 3;
}

.d7 {
    grid-column: 3;
    grid-row: 3;
}

/*-- Animation effet dés qui roule --*/
.rolling {
	-webkit-animation: roll-diag 0.4s linear 2 both;
	        animation: roll-diag 0.4s linear 2 both;
}

@-webkit-keyframes roll-diag {
    0% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
              transform: rotate3d(1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: rotate3d(1, 1, 0, -180deg);
              transform: rotate3d(1, 1, 0, -180deg);
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, -360deg);
              transform: rotate3d(1, 1, 0, -360deg);
    }
  }
  @keyframes roll-diag {
    0% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
              transform: rotate3d(1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: rotate3d(1, 1, 0, -180deg);
              transform: rotate3d(1, 1, 0, -180deg);
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, -360deg);
              transform: rotate3d(1, 1, 0, -360deg);
    }
  }