@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    color: rgb(44, 43, 43);
}

body {
    background-image: url(../img/photos/joel-jasmin-forestbird-xzPMUMDDsfk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: white;
    margin: 2vh;
    height: 94vh;
    width: calc((100vw)-(4vh));
    padding: 1vh 15vw;
    display: grid;
    grid-gap: 2vh;
    grid-template-columns: 1fr .8fr 1fr;
    grid-template-rows: .5fr 1fr 2fr;
    grid-template-areas: "header header header"
                         "scores scores scores"
                         "player1 actions player2";
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: currentColor;
}

a.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

/*-- Grid Desktop Layout --*/

.header {
    grid-area: header;
    background-color: #c6a05a8c;
    border-radius: 2vh;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
}

.scores {
    grid-area: scores;
    background-color: #E3BA7D;
    border-radius: 2vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.player1 {
    grid-area: player1;
    display: grid;
    position: relative;
}

.actions {
    grid-area: actions;
    border-radius: 2vh;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr .3fr .3fr;
}

.player2 {
    grid-area: player2;
    display: grid;
    position: relative;
}

/*-- Style --*/

a.btn {
    background-color: #5F2914;
    font-weight: 700;
    font-size: 1.1em;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.title {
    grid-row: 1;
    grid-column: 1 / 3;
    text-align: center;
    margin: 2vh;
}

.new-game {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    align-self: center;
}

.rules {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
    align-self: center;
}

#goal-description {
    grid-row: 3;
    grid-column: 1 / 3;
    text-align: center;
    align-self: center;
    margin: .5em;
    font-size: 1.5em;
    font-weight: 700;
    display: none;
}

.player1-info {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    align-self: center;
}

.player2-info {
    grid-row: 1;
    grid-column: 3;
    text-align: center;
    align-self: center;
}

.current {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    align-self: center;
}

.current h2 {
    font-size: 2em;
    margin: 2vh;
}

.current-label {
    margin: 7vh 0 0 0;
    font-size: 1.5em;
}

.current-score {
    font-size: 1.5em;
    margin: .5em;
}

.player-name {
    font-size: 1.8em;
    margin: 2vh;
}

.player-score {
    font-size: 2.5em;
    margin: 2vh;
}

.dice-area {
    grid-row: 1;
    margin: auto;
    align-self: center;
}

.roll {
    grid-row: 2;
    text-align: center;
    align-self: center;
}

.hold {
    grid-row: 3;
    text-align: center;
    align-self: center;
}

.avatar-zone {
    width: 22vw;
    margin: auto;
}

.avatar {
    width: 100%;
    border-radius: 30px;
}

.playing {
    border: 4px solid #5F2914;
    background-color: #5F2914;
    border-radius: 2vh;
    color: white;
}

/*-- Rules Modal Style --*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    border-radius: 2vh;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #000;
    float: right;
    font-size: 2em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(48, 47, 47);
    text-decoration: none;
    cursor: pointer;
}

.center {
    text-align: center;
}

input:focus {
    outline: none;
}

input:not(:focus):not(:placeholder-shown):invalid {
    border-color: red;
}

input#p1-name:not(:focus):not(:placeholder-shown):invalid ~ .inputError1 {
    display: block; 
}

input#p2-name:not(:focus):not(:placeholder-shown):invalid ~ .inputError2 {
    display: block; 
}

/*-- New Game Modal Style --*/

.inputError1, .inputError2 {
    display: none;
    color: red;
    font-size: .7em;
    font-weight: 700;
}

#startGame {
    background-color: #5F2914;
    font-size: 1em;
    font-weight: 700;
    padding: .5em 1em;
    border: none;
    border-radius: 1vw;
    color: white;
}

#restartGame {
    background-color: #5F2914;
    font-size: 1em;
    font-weight: 700;
    padding: .5em 1em;
    border: none;
    border-radius: 1vw;
    color: white;
}

/*-- Grid Mobile Layout --*/

@media screen and (max-width: 768px) {
    main {
        display: grid;
        height: 90vh;
        padding: 2vw;
        grid-gap: 10px;
        grid-template-columns: 1fr ;
        grid-template-rows: 1.5fr 3fr 2fr 4fr;
        grid-template-areas: "header"
                             "scores"
                             "player"
                             "actions";
    }

    .header {
        grid-area: header;
    }
    
    .scores {
        grid-area: scores;
    }
    
    .player1 {
        grid-area: player;
    }
    
    .actions {
        grid-area: actions;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr .8fr .8fr;
    }
    
    .player2 {
        grid-area: player;
    }

    .avatar {
        z-index: 0;
        border: 2px solid transparent;
        display: none;
    }

    .playing {
        z-index: 2;
        display: block;
    }
}

@media screen and (max-width: 568px) {
    * {
        font-size: 11px;
    }
}